rules:
- TommyTrinder\PhpstanRules\Rules\NoEmptyConditionalBlocksRule
- TommyTrinder\PhpstanRules\Rules\NoDynamicPropertyAccessRule
- TommyTrinder\PhpstanRules\Rules\MissingArgumentTypeDeclarationRule
- TommyTrinder\PhpstanRules\Rules\MissingMethodReturnTypeDeclarationRule
- TommyTrinder\PhpstanRules\Rules\OnlyAllowModelDbMethodCallsInRepositoryOrMigrationRule
- TommyTrinder\PhpstanRules\Rules\OnlyAllowModelDbStaticMethodCallsInRepositoryOrMigrationRule
